.food-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20%);
}

.form{
  margin: 20px;
  font-size: 20px;
}

.box{
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
  max-width: 1024px;
  padding: 30px;
  height: 20em;
  background-color: rgb(227, 227, 227);

  list-style: none;

}

.image{
  width: 70%;
  border-radius: 40%;
}

.input-search{
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}


@media only screen and (max-width: 800px) { 
  .App {
    display: grid;
    grid-template-columns: 70%;


  }
  .box{
    height: 10em;
  }
  .image{
    width: 30%;
    border-radius: 40%;
 
  }
 
}